.container {
  border: 1px solid gray;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-template-rows: auto repeat(5, 1fr); /* Rows for display and buttons */
  gap: 10px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.operations {
  display: grid;
  grid-column: 1; 
  grid-row: 2 / span 4; 
}

.operationButton {
  background-color: #e0e0e0;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2 / span 3; 
  grid-row: 2 / span 4; 
  gap: 10px;
}

.numberButton {
  background-color: #f0f0f0;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  height: 60px;
  width: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.equalsButton {
  width: auto;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 4;
}

.equalsButton:hover {
  background-color: #ff5252;
}

.operationButton:hover,
.numberButton:hover {
  background-color: #d0d0d0;
}
